:root {
    background:linear-gradient(#91918B, #000000);
    font-family: "Outfit";
    color: #FFFFFF;
  --md-sys-color-primary: #D0BCFF;
  --md-sys-color-secondary: tomato;
  --md-ref-typeface-brand: 'Outfit';
  --md-ref-typeface-plain: 'Outfit';
}
.heading {
    justify-content: center;
    display: flex;
}
.paras{
    padding: 2rem;
    max-width: 800px;
    margin: 20px auto;
    background: linear-gradient(#D0BCFF, #91918B);
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(255,255,255,0.05);
    border: 1px solid #222;
}
canvas{
    height: 100%;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 10px;
}
textarea {
    height: 500px;
    width: 100%;;
    resize: none;
    border-radius: 10px;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}